$backgroundColor: #ffffff;
$secondaryBgColor: #15a9e3;
$thirdBgColor: #39cb74;
$textColor: #184363;
$secondaryTextColor: #cbffff;
$thirdTextColor: #15a9e3;
$fourthTextColor: #56778f;
$primaryBtnColor: #edf4f6;
$secondaryBtnColor: #184363;
$thirdBtnColor: #f2971f;
$fourthBtnColor: #c047ef;
$fifthBtnColor: #3b5998;

// Media query variable
$xls: "only screen and (min-width: 1201px) and (max-width:1600px)";
$desktop: "only screen and (min-width: 1025px) and (max-width:1200px)";
$laptop: "only screen and (min-width: 769px) and (max-width:1024px)";
$tablet: "only screen and (min-width: 576px) and (max-width:768px)";
$mobile: "only screen and (min-width: 426px) and (max-width:575px)";
$mobileLarge: "only screen and (min-width: 376px) and (max-width:425px)";
$mobileMedium: "only screen and (min-width: 320px) and (max-width:375px)";
